body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    max-width: 80%;
    display: none;
}

button {
    margin-top: 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
